:root {
  --main-clr: #000000;
  --accent-clr: rgb(176, 35, 35);
  --white: #ffffffc0;
  --form-bgr-clr: #0000005b;
  --box-shadow: #888888;
  --section-pd: 50px;
  --text-mg: 10px;
  --text-mg-l: 20px;
  --ff-s: 14px;
  --ff-m: 18px;
  --ff-m-l: 24px;
  --ff-l: 42px;
  --b-rad: 25px;
  --b-circle: 50%;
}

.min-width {
  min-width: 200px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-clr);
  padding-bottom: var(--ff-m);
  height: 100%;
  width: 100%;
}

html,
body {
  overflow: auto;
}

/* header and burger */

.main-header {
  width: 100vw;
  height: 80vh;
  background-image: url(https://img1.goodfon.com/wallpaper/nbig/7/20/obektiv-kamera-fotoapparat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}
.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: var(--accent-clr);
  -webkit-transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  -o-transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  color: var(--white);
}
.icon-3 {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
  color: var(--white);
}
.active-burger {
  background-color: var(--white);
}
.hamburger-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2%;
  left: 5%;
  background-color: var(--main-clr);
  z-index: 1000;
  cursor: pointer;
  border-radius: var(--b-circle);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hamburger-icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.icon-1.a {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.icon-3.b {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}
@-webkit-keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 320px;
  }
}
@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 320px;
  }
}
nav {
  background: var(--accent-clr);
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  -o-transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
nav ul {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav ul li {
  font-size: var(--ff-s);
  color: var(--white);
  line-height: 2.2;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
nav.show {
  width: 320px;
  opacity: 1;
}

/* portfolio section  */

.portfolio-header {
  text-align: center;
  padding-top: var(--section-pd);
  font-size: var(--ff-m);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: var(--section-pd);
}

.slider-wrapper {
  position: relative;
}
.slider-content {
  position: absolute;
}

.slider-wrapper,
.slider-content {
  width: 90vw;
  height: 50vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: var(--b-rad);
}

.arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background-color: var(--white);
  opacity: 70%;
  color: var(--main-clr);
  font-size: var(--ff-m);
  border: none;
  cursor: pointer;
}
.arrow-left {
  left: 0;
  position: absolute;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.arrow-right {
  right: 0;
  position: absolute;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: medium;
}

.slider-title {
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--white);
  opacity: 50%;
  cursor: pointer;
  margin: var(--text-mg);
  border-radius: var(--b-circle);
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
}
.dot.active {
  opacity: 90%;
}

/* form  */
.contact-body {
  background-color: var(--main-clr);
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 300px;
  margin-top: var(--section-pd);
}

.contact-h {
  text-align: center;
  font-size: var(--ff-l);
  font-weight: 800;
  color: var(--white);
  padding-top: var(--section-pd);
}

.form-left {
  width: 80%;
  margin-bottom: var(--text-mg);
  background-color: var(--main-clr);
}

.form-right {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#description {
  width: 100%;
  height: 290px;
  padding-top: 25px;
  padding-left: 20px;
  color: var(--white);
  background-color: var(--form-bgr-clr);
  border: 1px solid var(--white);
}

.form-element::-webkit-input-placeholder,
#description::-webkit-input-placeholder {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.form-element::-moz-placeholder,
#description::-moz-placeholder {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.form-element:-ms-input-placeholder,
#description:-ms-input-placeholder {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.form-element::-ms-input-placeholder,
#description::-ms-input-placeholder {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.form-element::placeholder,
#description::placeholder {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.form-element {
  padding-left: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  color: var(--white);
  background-color: var(--main-clr);
  border: 1px solid var(--white);
  margin-top: 0;
}

.send-btn {
  background-color: var(--accent-clr);
  color: var(--main-clr);
  font-size: var(--ff-s);
  cursor: pointer;
  width: 100%;
  height: 60px;
  border: none;
  margin-top: 20px;
  border-radius: var(--b-rad);
}

.fa-location-arrow {
  margin-left: var(--text-mg);
  font-size: var(--ff-m);
}

/* guarantees list  */

.guarantee-h {
  text-align: center;
  padding-top: var(--section-pd);
  font-size: var(--ff-m);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.g-item > img {
  width: 100px;
  height: 100%;
  margin-bottom: var(--text-mg);
}

.Guarantee-container {
  padding-top: var(--section-pd);
  padding-bottom: var(--section-pd);
}

.Guarantee-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Guarantee-container li {
  width: 100%;
  margin-bottom: var(--section-pd);
}
.Guarantee-container .g-item {
  width: 60%;
  max-width: 350px;
  border: 2px solid var(--white);
  border-radius: var(--b-rad);
  padding: 50px 40px;
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 300px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Guarantee-container .fn_title {
  font-size: var(--ff-m);
  font-weight: 500;
  margin-bottom: var(--text-mg);
}
.Guarantee-container .line {
  display: block;
  width: 150px;
  height: 10px;
  position: absolute;
  background-color: var(--white);
  top: 0;
  left: 50%;
  margin-left: -75px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Guarantee-container .line:before,
.Guarantee-container .line:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
}
.Guarantee-container .line:before {
  border-width: 0 10px 10px 0;
  border-right-color: var(--white);
  right: 100%;
}
.Guarantee-container .line:after {
  border-width: 10px 10px 0 0;
  border-top-color: var(--white);
  left: 100%;
}
.Guarantee-container .g-item:hover {
  border-color: var(--accent-clr);
}
.Guarantee-container .g-item:hover .line {
  background-color: var(--accent-clr);
}
.Guarantee-container .g-item:hover .line:before {
  border-right-color: var(--accent-clr);
}
.Guarantee-container .g-item:hover .line:after {
  border-top-color: var(--accent-clr);
}

.g-item > h3 {
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

/* contact info */

.contact-wrapper {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: var(--section-pd);
  margin-bottom: var(--section-pd);
  gap: 40px;
}

.contact-mail,
.contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-mail > a:nth-of-type(1),
.contact-phone > a:nth-of-type(1) {
  color: var(--main-clr);
  margin-top: var(--text-mg);
  background-color: var(--accent-clr);
  width: 40px;
  height: 40px;
  border-radius: var(--b-circle);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: var(--text-mg);
}

.contact-mail > a:nth-of-type(2),
.contact-phone > a:nth-of-type(2) {
  color: var(--white);
  margin-top: var(--text-mg);
}

.map {
  width: 90%;
  min-width: 200px;
  height: 100%;
  margin-top: var(--section-pd);
  margin-block: 0 auto;
}

.map-link {
  width: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* contact pg sliding background */
.bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
  animation: slide 3s ease-in-out infinite alternate;
  background-image: -o-linear-gradient(
    150deg,
    var(--main-clr) 50%,
    var(--box-shadow) 50%
  );
  background-image: linear-gradient(
    -60deg,
    var(--main-clr) 50%,
    var(--box-shadow) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.content-bg {
  background-color: var(--main-clr);
  border-radius: 0.25em;
  -webkit-box-shadow: 0 0 0.25em var(--box-shadow);
  box-shadow: 0 0 0.25em var(--box-shadow);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}

/* accordion  */

.accordion {
  max-width: 70%;
  margin: 0 auto;
}

.accordion-heading {
  text-align: center;
  padding-top: 100px;
  font-size: var(--ff-m);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: var(--section-pd);
}

.aboutMe-img {
  width: 100%;
  max-width: 700px;
  padding-bottom: var(--section-pd);
  margin: 0 auto;
}

.aboutMe-img > img {
  width: 100%;
  min-width: 100px;
}

.container {
  position: relative;
  background-color: var(--accent-clr);
  padding: 10px;
  margin-bottom: var(--text-mg-l);
  width: 100%;
  min-width: 100px;
}
.accordion-title {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.accordion-title::before {
  content: " + ";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
}
.accordion-description {
  width: 100%;
  font-size: 20px;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: justify;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.container.active .accordion-description {
  height: 100%;
  margin-top: 20px;
}
.container.active .accordion-title::before {
  content: "-";
  font-size: 20px;
}

.accordion-description > li {
  margin-bottom: var(--text-mg);
}

/* footer  */

footer {
  width: 100%;
  background-color: var(--accent-clr);
  margin-top: var(--section-pd);
  padding-block: var(--section-pd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ftr-wrapper {
  width: 80%;
}

.credits {
  color: var(--main-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--text-mg);
}

.ftr-color {
  color: var(--main-clr);
}

.abt-footer {
  margin-top: 100px;
}

@media only screen and (min-width: 600px) {
  .icon-1,
  .icon-2,
  .icon-3 {
    width: 20px;
    height: 3px;
  }

  .hamburger-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5%;
    left: 6%;
  }

  nav ul li {
    line-height: 3;
    letter-spacing: 2px;
    font-size: var(--ff-m);
  }

  .credits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .credits > p {
    font-size: var(--ff-m);
  }

  .arrow {
    width: 8%;
  }
}

@media only screen and (min-width: 820px) {
  .slider-wrapper,
  .slider-content {
    height: 80vh;
  }

  .fn_title {
    margin-top: 30px;
  }

  .arrow {
    width: 6%;
  }

  .accordion-heading {
    font-size: var(--ff-m-l);
  }

  .container.active .accordion-title::before {
    font-size: 40px;
  }

  .aboutMe-img {
    width: 85%;
  }
}

@media only screen and (min-width: 1000px) {
  .g-item {
    margin-inline: 20px;
  }

  .Guarantee-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .Guarantee-container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1150px;
  }

  .portfolio-header,
  .guarantee-h {
    font-size: var(--ff-m-l);
  }

  .arrow {
    width: 5%;
  }

  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1400px) {
  .arrow {
    width: 3%;
  }
}
