:root {
  --main-clr: #000000d0;
  --accent-clr: rgb(176, 35, 35);
  --white: #ffffffc0;
  --form-bgr-clr: #0000005b;
  --box-shadow: #888888;
  --section-pd: 50px;
  --text-mg: 10px;
  --text-mg-l: 20px;
  --ff-s: 14px;
  --ff-m: 18px;
  --ff-l: 42px;
  --b-rad: 25px;
  --b-circle: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: "montserrat", roboto;
  background-color: var(--main-clr);
  padding-bottom: var(--ff-m);
}

html,
body {
  overflow: auto;
}

/* header and burger */

.main-header {
  width: 100vw;
  height: 80vh;
  background-image: url(https://img1.goodfon.com/wallpaper/nbig/7/20/obektiv-kamera-fotoapparat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}
.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: var(--accent-clr);
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
  color: var(--white);
}
.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
  color: var(--white);
}
.active-burger {
  background-color: var(--white);
}
.hamburger-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2%;
  left: 5%;
  background-color: var(--main-clr);
  z-index: 1000;
  cursor: pointer;
  border-radius: var(--b-circle);
  transition: all 0.2s ease-in-out;
}
.hamburger-icon:hover {
  transform: scale(1.2);
  box-shadow: var(--form-bgr-clr);
}
.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}
@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 320px;
  }
}
nav {
  background: var(--accent-clr);
  position: absolute;
  top: 0;
  right: 10;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
nav ul {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
nav ul li {
  font-size: var(--ff-s);
  color: var(--white);
  line-height: 2.2;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
nav.show {
  width: 320px;
  opacity: 1;
}

/* portfolio section  */

.portfolio-header {
  text-align: center;
  padding-top: var(--section-pd);
  font-size: var(--ff-m);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-clr);
  padding-bottom: var(--section-pd);
}

.slider-wrapper {
  position: relative;
}
.slider-content {
  position: absolute;
}

.slider-wrapper,
.slider-content {
  width: 90vw;
  height: 50vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--b-rad);
}

.arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: var(--b-circle);
  background-color: var(--white);
  opacity: 60%;
  color: var(--main-clr);
  font-size: var(--ff-m);
  border: none;
  cursor: pointer;
}
.arrow-left {
  left: 20px;
  position: absolute;
}
.arrow-right {
  right: 20px;
  position: absolute;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: medium;
}

.slider-title {
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--white);
  opacity: 50%;
  cursor: pointer;
  margin: var(--text-mg);
  border-radius: var(--b-circle);
}

.dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
.dot.active {
  opacity: 90%;
}

/* form  */
.contact-body {
  background-color: var(--main-clr);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding-top: var(--section-pd);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  align-items: center;
}

.contact-h {
  text-align: center;
  font-size: var(--ff-l);
  font-weight: 800;
  color: var(--white);
  padding-top: var(--section-pd);
}

.form-left {
  width: 80%;
  margin-bottom: var(--text-mg);
  background-color: var(--main-clr);
}

.form-right {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#description {
  width: 100%;
  height: 290px;
  padding-top: 25px;
  padding-left: 20px;
  color: var(--white);
  background-color: var(--form-bgr-clr);
  border: 1px solid var(--white);
}

.form-element::-webkit-input-placeholder,
#description::-webkit-input-placeholder {
  color: var(--white);
}

.form-element::-moz-placeholder,
#description::-moz-placeholder {
  color: var(--white);
}

.form-element:-ms-input-placeholder,
#description:-ms-input-placeholder {
  color: var(--white);
}

.form-element::-ms-input-placeholder,
#description::-ms-input-placeholder {
  color: var(--white);
}

.form-element::placeholder,
#description::placeholder {
  color: var(--white);
}

.form-element {
  padding-left: 20px;
  margin-bottom: var(--text-mg);
  width: 100%;
  height: 60px;
  color: var(--white);
  background-color: var(--main-clr);
  border: 1px solid var(--white);
}

.send-btn {
  background-color: var(--accent-clr);
  color: var(--main-clr);
  font-size: var(--ff-s);
  cursor: pointer;
  width: 100%;
  height: 60px;
  border: none;
  margin-top: var(--text-mg);
  border-radius: var(--b-rad);
}

.fa-location-arrow {
  margin-left: var(--text-mg);
  font-size: var(--ff-m);
}

/* contact info */
.contact-info {
  padding-top: var(--section-pd);
  padding-bottom: var(--section-pd);
  font-display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--main-clr);
}

.contact-info-row > a {
  color: var(--white);
}

.contact-info-row {
  width: 90%;
  margin-bottom: var(--text-mg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  background-color: var(--accent-clr);
  border-radius: var(--b-circle);
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
}

.contact-icon > i {
  font-size: var(--ff-m);
  color: var(--main-clr);
}

.contact-info-row > p:nth-of-type(1) {
  color: var(--main-clr);
  margin-top: var(--text-mg);
}

.contact-info-row > p:nth-of-type(2) {
  color: var(--white);
  margin-top: var(--text-mg);
}

.contact-info-h {
  margin-top: var(--text-mg);
}

.map {
  width: 90%;
  height: 100%;
  margin-top: var(--text-mg-l);
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* contact pg sliding background */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--main-clr) 50%,
    var(--box-shadow) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content-bg {
  background-color: var(--main-clr);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em var(--box-shadow);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
